<!-- START OF st.partners -->
<div class="row">
<div class="center-align">
  <h2 class="thin st-title blue-grey-text text-darken-1" style="padding-bottom: 15px;">Our Partners</h2>
</div>	
<div class="row st-partners-wrapper" >
    <div class="text-center col-xs-12">
        <ul class="list-inline list-unstyled">
            <li><a href="http://www.innowerft.com/"> <img class="img-responsive" src="/images/logos/innowerft-117_70.png" alt="InnoWerft (ViciQloud Partner)"> </a></li>
            <li><a href="http://www.sap.com"> <img class="img-responsive" src="/images/logos/SAP-117_70.png" alt="SAP - (ViciQloud Partner)"> </a></li>
            <li><a href="http://www.walldorf.de/"> <img class="img-responsive" src="/images/logos/walldorf-117_70.png" alt="City Walldorf - (ViciQloud Partner)"> </a></li>
            <li><a href="https://www.fzi.de"> <img class="img-responsive" src="/images/logos/fzi-logo.png" alt="FZI Forschungszentrum Informatik - (ViciQloud Partner)"> </a></li>
        </ul>
    </div>
</div>
</div>

<!-- START OF st.partners -->
