node_modules/
deployments/

.env
.DS_Store
public/stApp/
public/.DS_Store
npm-debug.log
*.swp
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
